# Prevenir la ejecución de scripts en esta carpeta
<FilesMatch "\.(php|php3|php4|php5|php6|php7|php8|phtml|shtml)$">
    Deny from all
</FilesMatch>

# Permitir descarga de archivos
<FilesMatch "\.(pdf)$">
    Allow from all
</FilesMatch>
